:root {
  --BACKGROUND: #280a37;
  --BUTTON: #f1b533;
  --COLUMBIA: #7fdef8;
}

.app {
  text-align: center;
}

.app-header {
  background-color: var(--BACKGROUND);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(20px + 2vmin);
  font-family: 'Zapfino';
  color: white;
}

@media (max-width: 600px) {
  .app-header {
    background-color: var(--BACKGROUND);
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(20px + 2vmin);
    font-family: 'Zapfino';
    color: white;
  }
}

.app-footer {
  padding-top: 80px;
  background-color: var(--BACKGROUND);
  font-size: 16px;
  min-height: 2vh;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

.app-body {
  background-color: var(--BACKGROUND);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: scroll;
}

@media (max-width: 600px) {
  .app-body {
    background-color: var(--BACKGROUND);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(7px + 2vmin);
    color: white;
  }
}

.intro {
  width: 700px;
}

@media (max-width: 600px) {
  .intro {
    width: 300px;
  }
}

.button-link {
  background: none;
  border: none;
  padding: 0;
  color: var(--BUTTON);
  font-family: 'Helvetica Neue';
  font-size: 18px;
}

@media (max-width: 600px) {
  .button-link {
    background: none;
    border: none;
    padding: 0;
    color: var(--BUTTON);
    font-family: 'Helvetica Neue';
    font-size: 12px;
  }
}

.button-link:hover {
  background: none !important;
}

.three-gram {
  color: var(--COLUMBIA);
  font-size: calc(30px + 2vmin);
}

.flex {
  display: inline-flex;
}

.columbia {
  color: var(--COLUMBIA);
}

.right-space {
  margin-right: 5px;
}

.bottom-space {
  margin-bottom: 10px;
}

.word-count {
  margin-right: 40px;
}

.found-word {
  font-size: 18px;
}

@media (max-width: 600px) {
  .found-word {
    font-size: 12px;
  }
}

.sm-button {
  background-color: var(--BUTTON);
  border: 2px solid white;
  border-radius: 4px;
  color: var(--BACKGROUND);
  font-family: 'Helvetica Neue';
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .sm-button {
    background-color: var(--BUTTON);
    border: 1px solid white;
    border-radius: 4px;
    color: var(--BACKGROUND);
    font-family: 'Helvetica Neue';
    font-size: 10px;
    font-weight: 600;
    padding: 8px;
    margin-top: 5px;
  }
}
