@import "index.css";

.app {
  text-align: center;
}

.app-header {
  background-color: var(--BACKGROUND);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Dancing Script", cursive;
  font-size: calc(60px + 2vmin);
  padding: 30px 0px 10px;
  color: var(--BODY_FONT_COLOR);
}

@media (max-width: 600px) {
  .app-header {
    background-color: var(--BACKGROUND);
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Dancing Script", cursive;
    font-size: calc(35px + 2vmin);
    padding: 20px 0px 10px;
    color: var(--BODY_FONT_COLOR);
  }
}

.app-footer {
  padding-top: 80px;
  background-color: var(--BACKGROUND);
  font-size: 16px;
  min-height: 2vh;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

.app-body {
  background-color: var(--BACKGROUND);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--BODY_FONT_SIZE);
  color: var(--BODY_FONT_COLOR);
  overflow-y: scroll;
}

@media (max-width: 600px) {
  .app-body {
    background-color: var(--BACKGROUND);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--BODY_FONT_SIZE);
    color: var(--BODY_FONT_COLOR);
  }
}

.intro {
  width: 700px;
}

@media (max-width: 600px) {
  .intro {
    width: 300px;
    font-size: 14px;
  }
}

#maximum-score {
  display: none;
  margin-bottom: 10px;
}

#instructions {
  display: none;
  margin-bottom: 5px;
}

.button-link {
  background: none;
  border: none;
  padding: 0;
  color: var(--BUTTON_LINK);
  font-family: var(--FONT);
  font-size: calc(2px + 2vmin);
}

@media (max-width: 600px) {
  .button-link {
    font-size: calc(5px + 2vmin);
  }
}

.button-link:hover,
.button-link:disabled {
  background: none !important;
}

.button-link:disabled {
  color: var(--BUTTON_LINK_DISABLED);
}

.three-gram {
  font-size: calc(30px + 2vmin);
  font-weight: 600;
}

.flex {
  display: inline-flex !important;
}

.green {
  color: var(--GREEN);
}

.right-space {
  margin-right: 14px;
}

@media (max-width: 600px) {
  .right-space {
    margin-right: 8px;
  }
}

.top-space {
  margin-top: 10px;
}

.bottom-space {
  margin-bottom: 10px;
}

.bottom-margin {
  margin-bottom: 20px;
}

.word-count {
  margin-right: 40px;
}

.found-words-line {
  width: 600px;
}

@media (max-width: 600px) {
  .found-words-line {
    width: 250px;
  }
}

.found-word {
  font-size: var(--SMALL_TEXT_SIZE);
}

.timer {
  margin-bottom: 0px;
}

.sm-text {
  font-size: var(--SMALL_TEXT_SIZE);
  margin: 5px 0px;
}

.sm-button {
  border-radius: 60px;
  border: none;
  font-family: var(--FONT);
  font-size: 12px;
  font-weight: 600;
  padding: 15px 30px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .sm-button {
    font-size: 12px;
    padding: 8px 16px;
    margin-top: 5px;
  }
}

.lg-button {
  border-radius: 60px;
  border: none;
  font-family: var(--FONT);
  font-size: 18px;
  font-weight: 600;
  padding: 15px 40px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .lg-button {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 5px;
  }
}

.lg-button:disabled {
  background-color: white !important;
  color: black;
}
