:root {
  --BACKGROUND: #50156d;
  --COLUMBIA: #7fdef8;
}

.app {
  text-align: center;
}

.app-header {
  background-color: var(--BACKGROUND);
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(30px + 2vmin);
  font-family: 'Zapfino';
  color: white;
}

@media (max-width: 600px) {
  .app-header {
    background-color: var(--BACKGROUND);
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(20px + 2vmin);
    font-family: 'Zapfino';
    color: white;
  }
}

.app-footer {
  padding-top: 80px;
  background-color: var(--BACKGROUND);
  font-size: 16px;
  min-height: 10vh;
  color: white;
}

.body {
  background-color: var(--BACKGROUND);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 600px) {
  .body {
    background-color: var(--BACKGROUND);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: white;
  }
}

.intro {
  width: 700px;
}

@media (max-width: 600px) {
  .intro {
    width: 300px;
  }
}

.three-gram {
  color: var(--COLUMBIA);
  font-size: calc(30px + 2vmin);
}

.flex {
  display: inline-flex;
}

.columbia {
  color: var(--COLUMBIA);
}

.right-space {
  margin-right: 5px;
}

.word-count {
  margin-right: 40px;
}

.found-word {
  font-size: 18px;
}

@media (max-width: 600px) {
  .found-word {
    font-size: 12px;
  }
}
