:root {
  --BACKGROUND: #280a37;
  --BUTTON: #f1b533;
  --COLUMBIA: #7fdef8;
  --FONT: "Barlow", sans-serif;
}

html {
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  background-color: var(--BACKGROUND);
}

body {
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  font-family: var(--FONT);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"] {
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  outline: none;
  font-size: x-large;
  font-family: var(--FONT);
}

@media (max-width: 600px) {
  input[type="text"] {
    font-size: large;
  }
}

input[type="text"]:focus {
  border: 4px solid var(--COLUMBIA);
  border-radius: 4px;
}

button:disabled {
  background-color: #624b19 !important;
  cursor: not-allowed !important;
}

button:hover {
  background-color: #d5a132;
  cursor: pointer;
}
